<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog1" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="pl-2" style="font-family:'Campton SemiBold'; font-size:1em; color:#003366">Document Type</h3>
            </div>
            <div class="modal-body pl-2 items">
                <div class="p-4"><img src="assets/img/radio.png" />&nbsp; &nbsp; Utility Bill <small class="text-muted">Uploaded</small></div>
                <div class="p-4"><input type="radio"/>&nbsp;&nbsp; Signature <small class="text-muted"></small></div>
                <div class="p-4"><img src="assets/img/radio.png" />&nbsp;&nbsp; Passport Photograph <small class="text-muted">Uploaded</small></div>
                <div class="pl-4 pb-0 pt-4"><img src="assets/img/radio.png" />&nbsp;&nbsp; Valid ID  &nbsp;<small class="text-muted extra">Uploaded</small></div>
            </div>
        </div>
    </div>
</div>