<div class="container">
    <div class="row contain-form">
        <div>
            <div class="row col-10">
            <div class="col-md-3 col-2 p-0 header-text">
                <hr class="point" />
            </div>
            <div class="col-md-8 col-8 header-text">
                Upload Documents
            </div>
        </div>
            <div class="col-md-10 pl-0 pr-5">
                <span class="pre-text">Upload the following documents to get the most out of banking with
                    us. You can upload a few or choose to <i class="it-ls">skip and upload
                        later.</i></span>
            </div>
            <div class="col-md-10 pt-4 pb-4">
                <div class="row opt">
                    <div class="col-1 d-flex align-items-center"><img src="assets/img/Path 15449.png"></div>
                    <div class="col"><span class="note">Supported upload format : JPEG, PNG & PDF, Maximum file size allowed
                            is 2MB
                        </span></div>
                </div>
            </div>


            <div class="col-md-9 mt-5 d-md-none d-sm-block">
                <div class="row">
                    <div class="text-center select-box">
                        <button class="btn btn-outline btn-custom" data-toggle="modal" data-target="#exampleModalCenter1">Passport Photograph</button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9.887" viewBox="0 0 16 9.887">
                            <defs>
                                <style>
                                    .a {
                                        fill: #101010;
                                    }
                                </style>
                            </defs>
                            <path class="a" d="M27.057-22.137,20.943-28.25l6.113-6.113L25.17-36.25l-8,8,8,8Z"
                                transform="translate(36.25 27.057) rotate(-90)" />
                        </svg>
                    </div>
    
                    <div class="text-center select-box mt-3 pt-5 pb-5">
                        <div class="text-center">
                            <img src="assets/img/upload.png">
                            <h6 class="pt-3">Drag and drop an image file here</h6>
                            <h6 class="pt-2 pb-2">OR</h6>
                            <button class="btn btn-outline-primary s-b-3">Browse</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 mt-5 d-none d-md-block p-0">
                 <table class="table table-half">
                                    <tbody>
                                        <tr>
                                            <td class="table-first"><input type="radio" name="doc" /> &nbsp; &nbsp; Passport
                                                Photograph</td>
                                            <td rowspan="4" class="align-middle">
                                                <div class="text-center">
                                                    <div class="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="86.577" height="57.718"
                                                            viewBox="0 0 86.577 57.718">
                                                            <defs>
                                                                <style>
                                                                    .a {
                                                                        fill: #b1b1b1;
                                                                    }
                                                                </style>
                                                            </defs>
                                                            <path class="a"
                                                                d="M69.821-18.229A27.058,27.058,0,0,0,43.289-40,27.078,27.078,0,0,0,19.3-25.444,21.656,21.656,0,0,0,0-3.926,21.638,21.638,0,0,0,21.644,17.718h46.9A18.044,18.044,0,0,0,86.577-.319,17.99,17.99,0,0,0,69.821-18.229ZM50.5-7.533V6.9H36.074V-7.533H25.252L43.289-25.57,61.326-7.533Z"
                                                                transform="translate(0 40)" />
                                                        </svg>
                                                        <br /><br />
                                                        Drag and drop an image file here
                                                        <br />
                                                        OR<br />
                                                        <button class="btn btn-outline-primary s-b-3">Browse</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-small"><input type="radio" name="doc" /> &nbsp; &nbsp; Utility
                                                Bill</td>
                                        </tr>
                                        <tr>
                                            <td class="td-small"><input type="radio" name="doc" /> &nbsp; &nbsp; Valid ID
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-small"><input type="radio" name="doc" /> &nbsp; &nbsp; Signature
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
            </div>

            <div class="col-md-9">
                <div class="row d-flex justify-content-between mt-5">
                    <button type="button" class="btn btn-outline-primary btn-md pr-5 pl-5 s-b-2" (click)="goToReview()">Skip</button>
                    <button type="button" class="btn btn-primary pr-4 pl-4 text-center btn-lg s-b" (click)="goToReview()">Proceed &nbsp; > &nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>