<div class="container">
    <div class="row contain-form">
        <div class="row mt-4">
            <div class="col-md-10 pb-5">
                <h4 class="title-name">Personal Information</h4>
                <div class="container details-box">
                    <div class="row d-flex flex-row edit-button-contain">
                        <button class="btn btn-md s-b-4" style="background-color: #DDEEFE ;"> <img src="assets/img/pencil.png"
                                width="17%" /> &nbsp; Edit&nbsp;</button>
                    </div>
                    <div class="pt-3 pl-3 details">
                        <div class="row mb-3">
                            <div class="col-md-5 term">BVN </div>
                            <div class="col-md-7 value">2233435335</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5 term">Name</div>
                            <div class="col-md-7 value">Bola Michael Omole</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5 term">Gender</div>
                            <div class="col-md-7 value">Male</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5 term">Date of Birth</div>
                            <div class="col-md-7 value">14th March, 1989</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5 term">Phone Number </div>
                            <div class="col-md-7 value">+2348143647471</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-5 term">Email Address </div>
                            <div class="col-md-7 value">bolaomole@gmail.com</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 term">Residential Address</div>
                            <div class="col-md-7 value">6, Adeyemo Alakija street, Victoria Island, Lagos</div>
                        </div>                  
                    </div>
                </div>
            </div>

            <div class="col-md-10 mt-4 pb-5">
                <h4 class="title-name">Document Upload</h4>
                <div class="container details-box" >
                    <div class="row d-flex flex-row edit-button-contain">
                        <button class="btn btn-md s-b-4" style="background-color: #DDEEFE ;"> <img src="assets/img/pencil.png"
                                width="17%" /> &nbsp; Edit&nbsp;</button>
                    </div>
                    <div class="pt-3 pl-3 row">
                        <ul class="my-list list-group ml-3">
                            <li><img src="assets/img/radio.png"/>&nbsp;Photograph</li>
                            <li><input type="radio" name="docs"/>&nbsp;Utility Bill</li>
                            <li><input type="radio" name="docs"/>&nbsp;Signature</li>
                            <li><input type="radio" name="docs"/>&nbsp;Valid ID</li>
                        </ul>  
                    </div>
                </div>
            </div>
           
          </div>
          <div class="col-md-9">
            <div class="row d-flex justify-content-between mt-2">
                <button type="button" class="btn btn-outline-primary btn-md pr-5 pl-5 s-b-2">Skip</button>
                <button type="button" class="btn btn-primary pr-4 pl-4 text-center btn-lg s-b" data-toggle="modal" data-target="#exampleModalCenter">Proceed &nbsp; > &nbsp;
                </button>
            </div>
        </div>
 </div>
    </div>

