<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom" role="document">
        <div class="modal-content">
            <div class="modal-headerl">
                <div class="row d-flex justify-content-between ml-0 p-3">
                    <span class="bg-left"><img src="assets/img/left.png"
                            width="70%" /></span>
                    <span class="d-flex align-items-end"><img src="assets/img/logo.png" width="80%" class="modal-logo"></span>
                    <span class="bg-right"><img
                            src="assets/img/right.png" width="70%" /></span>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
                <div class="text-center pb-5">
                    <div class="md-content flex-column d-flex text-center">
                    <h3 class="modal-title-text">Welcome to Kops,</h3>
                    <p class="modal-sub-text">Your account number has been generated successfully</p>
                    <p class="modal-account-text">1020384895</p>
                    </div>
                    <button class="btn btn-outline-danger btn-custom">View our product offerings</button>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #F4F8FD; ">
                <div class="row w-100">
                    <div class="col-md-6 col-sm-6 bg-blue d-flex align-items-center justify-content-center">
                        <span class="modal-footer-text">Continue banking on our mobile platforms</span>
                    </div>
                    <div class="col-md-6 col-sm-6 d-flex justify-content-end">
                        <div class="download">
                            <img class="img-fluid pr-1 app-icon" src="assets/img/google.png" alt="google-btn" width="40%" />
                            <img class="img-fluid pl-1 app-icon" src="assets/img/ios.png" alt="ios-btn" width="40%" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 d-block">
                        <div class="download-m">
                            <img class="img-fluid pr-1 app-icon" src="assets/img/google.png" alt="google-btn" width="100%" />
                            <img class="img-fluid pl-1 app-icon" src="assets/img/ios.png" alt="ios-btn" width="100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>